<!-- Error Messages -->
<% @task.errors.full_messages.each do |error| %> 
  <p><%= error %> </p> 
<% end %> 



<!-- Form -->
<div class='form-group align-item-center container border' >
  <%= form_for @task do |f| %>
    <div class='row'>  
      <p class='col-4'></p>
      <div class='col-4 text-center' >
        <%= f.label :title , 'Title:' %>
        <%= f.text_field :title, class: 'form-control mb-2', placeholder: 'Your task\'s title'%>
      </div>
    </div>


    <div class='row'>  
      <p class='col-4'></p>
      <div class='col-4 text-center' >
        <%= f.label :priority , 'Priority:' %>
        <%= f.select :priority, options_for_select(['low', 'medium', 'high'], selected: f.object.priority),  {},  class: 'form-control mb-2' %>
      </div>
    </div>

    <br> 

    <div class='row'>  
      <p class='col-4'></p>
      <div class='col-4 text-center' >
        <%= f.label :status , 'status:' %>
        <%= f.select(:status, options_for_select(['incomplete', 'complete'], selected: f.object.status),  {}, class: 'form-control mb-2' )%>
        
      </div>
    </div>

    <br> 

    

    <div class='row'>  
      <p class='col-4'></p>
      <div class='col-4 text-center' >
        <strong class='text-center'><%= f.label :share, 'Change Privacy:' %></strong>
        <%= f.select(:share, [['Private', false], ['Public', true]], {}, class: 'form-control mb-2') %>  
      </div>
    </div>

    <br> 
    
      
    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'>
        <%= f.label :description, 'Task\'s Description'%>
        <%= f.text_area :description, class: 'form-control mb-2', rows: '4'%>
      </div> 
    </div>

    <br>

    
    

    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'> 
    
        <%= f.submit class: 'btn btn-primary col-4'%>
        <%= link_to 'Go Back', :back, class: 'btn btn-secondary col-4' %>
      </div>
    </div>

  <% end %>
</div>
